@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?evmjhw');
  src:  url('../fonts/icomoon.eot?evmjhw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?evmjhw') format('truetype'),
    url('../fonts/icomoon.woff?evmjhw') format('woff'),
    url('../fonts/icomoon.svg?evmjhw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar_month:before {
  content: "\e900";
}
.icon-news:before {
  content: "\e901";
}
.icon-system_log:before {
  content: "\e902";
}
.icon-notification:before {
  content: "\e903";
}
.icon-equipment:before {
  content: "\e904";
}
.icon-satisfaction:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e906";
}
.icon-worksheet:before {
  content: "\e907";
}
